
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

// Fuentes
$ppalFont: 'Roboto Mono', monospace;

// Tamaño de Media Queries
$tlf: 480px;
$tbt: 768px;
$dsktp: 1024px;

// Colores
$c1negro: #000000;
$c2amarillo: #d39a4a;
$c3amarillo2: #8f590e;
$c4blanco: #FFFFFF;
$c5gris: #e1e1e1d5;
$c6gris2: #1f1f1f;

$sep: 4.5rem;

// Fuentes

$fontD: 350;
$fontR : 450;
$fontB: 750;
$fontB2: 950